@model OfficeEmployeeVisitorTrackingSysytem.Models.Company

@{
    ViewBag.Title = "CompanyDetails";
    Layout = "~/Views/Shared/_LayoutExecutive.cshtml";
}

<h2>CompanyDetails</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

<hr>


    <a href="/Employees/CompanyCreate/@Convert.ToInt32(Session["CompanyId"])" class="btn btn-warning">Employee Register</a>
    <a href="/Offices/CompanyOfficeReport/@Convert.ToInt32(Session["CompanyId"])" class="btn btn-danger">Office Report</a>
     <a href="/HotDesks/ComapanyHotDesk/@Convert.ToInt32(Session["CompanyId"])" class="btn btn-primary">Hot Desk report</a>
    <a href="/Visitors/CompanyVisitorReport/@Convert.ToInt32(Session["CompanyId"])" class="btn btn-success">Visitors Report</a>

   <a href="/Employees/CompanyIndex/@Convert.ToInt32(Session["CompanyId"])" class="btn btn-info">Employee Report</a>
