@model IEnumerable<OfficeEmployeeVisitorTrackingSysytem.Models.Office>

@{
    ViewBag.Title = "CompanyOfficeReport";
    Layout = "~/Views/Shared/_LayoutExecutive.cshtml";
}

<h2>CompanyOfficeReport</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayName("LogIn Date Time")
        </th>
        <th>
            @Html.DisplayName("LogIn Date Time")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <span> @Convert.ToInt32(@item.EmployeeId + 100)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LogInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogOutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
